.DS_Store
/bin
*.o
RealTime/ableton.csv
frontend.dSYM
FrontEnd/frontend
Arduino/libraries/Adafruit_NeoPixel/
Arduino/libraries/AccelStepper
Arduino/libraries/Adafruit_Motor_Shield_V2_Library
Arduino/libraries/LPD8806
*.class
*.applet
Video/Tracker/bin/arrow.png
Video/Tracker/lib/oscP5
Video/Tracker/lib/promidi
Video/Tracker/lib/themidibus
Video/Tracker/src/themidibus
Video/Tracker/bin/runTracker.jar
.svn
Experimental/data.mat
.#*
Floor/im1.mat
Floor/im2a.mat
Floor/im3alternating.mat
Experimental/p.mat
arecont/C*/
arecont/20131115-c2
arecont/test_undistortion_x.xml
arecont/test_undistortion_y.xml
arecont/hi.aac
arecont/C5.old
arecont/calibrate.log
Chuck/audio.wav

Chuck/audio (Capa's conflicted copy 2013-12-12).wav
LIDAR/FrontEndLIDAR/frontend
LIDAR/FrontEndLIDAR/FELidar-0.1

*.bak

LIDAR/FrontEndLIDAR/rec2.txt

*.ferec

LIDAR/Matlab/SFUN.hold/
LIDAR/Matlab/VISIONTB/
*.mat

*.mat

LIDAR/FrontEndLIDAR/Debug.out

LIDAR/FrontEndLIDAR/Debug.out.old

LIDAR/FrontEndLIDAR/20140402T150405.mov

*.ps

LIDAR/FrontEndLIDAR/PRIORREVS/frontend-0.1

LIDAR/Recordings

LIDAR/FrontEndLIDAR/mixtest
