.DS_Store
/bin
*.o
RealTime/ableton.csv
frontend.dSYM
FrontEnd/frontend
Arduino/libraries/Adafruit_NeoPixel/
Arduino/libraries/AccelStepper
Arduino/libraries/Adafruit_Motor_Shield_V2_Library
Arduino/libraries/LPD8806
*.class
*.applet
Video/Tracker/bin/arrow.png
Video/Tracker/lib/themidibus
Video/Tracker/src/themidibus
Video/Tracker/bin/runTracker.jar
.svn
Experimental/data.mat
.#*
Floor/im1.mat
Floor/im2a.mat
Floor/im3alternating.mat
Experimental/p.mat
arecont/C*/
arecont/20131115-c2
arecont/test_undistortion_x.xml
arecont/test_undistortion_y.xml
arecont/hi.aac
arecont/C5.old
arecont/calibrate.log
Chuck/audio.wav

Chuck/audio (Capa's conflicted copy 2013-12-12).wav
LIDAR/FrontEndLIDAR/frontend
LIDAR/FrontEndLIDAR/FELidar-0.1

*.bak

LIDAR/FrontEndLIDAR/rec2.txt

*.ferec

LIDAR/Matlab/SFUN.hold/
LIDAR/Matlab/VISIONTB/
*.mat

LIDAR/FrontEndLIDAR/frontend.trace
LIDAR/FrontEndLIDAR/Debug.out

LIDAR/FrontEndLIDAR/Debug.out.old

LIDAR/FrontEndLIDAR/20140402T150405.mov

*.ps

LIDAR/FrontEndLIDAR/PRIORREVS/frontend-0.1

LIDAR/Recordings

LIDAR/FrontEndLIDAR/mixtest
*.avi
*.mvi.avi

LIDAR/Matlab/snap.mvi.avi

LIDAR/FrontEndLIDAR/debug.out.1

Video/Tracker/lib/themidibus-*

Laser/test

Laser/Debug.out

Laser/osclaser
Laser/wesstuff.osc

Laser/*.dSYM
Laser/vectest

*conflicted*

Laser/Debug.out.recent

*.osc

LIDAR/FrontEndLIDAR/debug.out.crash

Laser/ptdump-0.txt
Laser/HOLD

LIDAR/FrontEndLIDAR/postopt1

LIDAR/FrontEndLIDAR/postopt1b

LIDAR/FrontEndLIDAR/postopt3

LIDAR/FrontEndLIDAR/postopt3b

LIDAR/FrontEndLIDAR/preopt

LIDAR/FrontEndLIDAR/postopt2

LIDAR/FrontEndLIDAR/postopt3-mini

LIDAR/FrontEndLIDAR/postopt3-mini.novnc

LIDAR/FrontEndLIDAR/postopt3-mini.novnc-db

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-hidden

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-showall

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-showall-nomonitor

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-showcond

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-showfe

LIDAR/FrontEndLIDAR/postopt3-mini.vnc-showlaser

LIDAR/FrontEndLIDAR/PRIORREVS/frontend-0.2

LIDAR/FrontEndLIDAR/frontend.HOLD

Laser/malloc.dump

LIDAR/FrontEndLIDAR/normtest

*.hold

LIDAR/FrontEndLIDAR/performance.csv

LIDAR/FrontEndLIDAR/testing.log

LIDAR/FrontEndLIDAR/osc_test.cc

Laser/nano.svg

nanosvg/

LIDAR/FrontEndLIDAR/PRIORREVS/frontend-20140724

Video/Tracker/bin/

Laser/Debug.out.NAK

Laser/transforms.save.20140826

Laser/transforms.pav.save

Laser/transforms-zero1.save

Laser/transforms-zero1-B.save

Laser/transforms-201405241323.save

Laser/transforms-20140415.save

Laser/osclaser.dtps